#leftBody
{
    border: solid;
    margin-top: 5vh;   
    height: 90vh;
    width: 18vw;    
}
#rightBody
{
    border: solid;
    margin-top: 5vh; 
    height: 90vh;
    width: 76vw;           
}

/****/
.rightFooter
{
    bottom: 0; 
    display: "flex"; 
    position: "absolute";
}